# 숫자형
## 정수형

In [7]:
a=123
a

123

In [5]:
a = -173
a

-173

In [6]:
a = 0
a

0

In [ ]:
a = -3.45

## 컴퓨터식 지수 표현

In [9]:
# 컴퓨터식 지수 표현
a = 4.24E+10
a

42400000000.0

In [10]:
a = 4.24E-10
a

4.24e-10

In [12]:
# 8진수와 16진수
a=127

In [13]:
type(a)

int

In [14]:
a = 0x8ff
a

2303

## 사칙연산

In [15]:
a = 3
b = 4
a + b

7

In [16]:
a * b

12

In [17]:
a / b

0.75

## x의 y 제곱

In [18]:
a**b

81

## 나눗셈 나머지 반환

In [19]:
a%b

3

## 나눗셈의 몫 반환

In [20]:
7//4

1

In [21]:
7%4

3

# 문자열

In [23]:
'Hello World'

'Hello World'

In [48]:
'''Life is too short. 
You need python.'''

'Life is too short. \nYou need python.'

In [26]:
"Python's favorite food is perl"

"Python's favorite food is perl"

In [27]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

In [28]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [29]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

## 백슬래시를 사용해서 따옴표를 문자열에 포함 가능

In [37]:
food = '\"Python\'s favorite food is perl.\"" he says.'
food

'"Python\'s favorite food is perl."" he says.'

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [41]:
multiline = "Lift is too showrt.\nYou need python"
multiline

'Lift is too showrt.\nYou need python'

In [42]:
print(multiline)

Lift is too showrt.
You need python

## 연속된 따옴표 사용하기

In [49]:
multiline = '''Lift is too showrt.
You need python.'''
multiline

'Lift is too showrt.\nYou need python.'

In [1]:
head = "Python"
tail ="is fun"
head + tail

'Pythonis fun'

In [2]:
a = "Python"
a *2

'PythonPython'

In [3]:
a = "Life is too short"
len(a)

17

# 문자열 인덱싱과 슬라이싱
## 인덱싱

In [4]:
a = "Life is too short, You need python"
a

'Life is too short, You need python'

In [5]:
a[3]

'e'

In [6]:
a[0]

'L'

In [7]:
a[12]

's'

In [8]:
a[-1]

'n'

In [9]:
a[-0]

'L'

In [10]:
a[-2]

'o'

In [11]:
a[-5]

'y'

## 슬라이싱
- 범위[start index : endindex +1]

In [12]:
#life 요소 잘라내기
b = a[0]+a[1]+a[2]+a[3]
b

'Life'

In [13]:
a[0:4]

'Life'

In [14]:
a[:4]

'Life'

In [15]:
a[:]

'Life is too short, You need python'

In [16]:
a[:5]

'Life '

In [17]:
a[5:7]

'is'

In [18]:
a[12:17]

'short'

In [22]:
a

'Life is too short, You need python'

In [21]:
a[19:-7]

'You need'

## 슬라이싱으로 문자열 나누기

In [24]:
a = "20231124Sunny"
date = a[4:8]
weather = a[8:]
print(date)
print(weather)

20231124
Sunny

In [28]:
year=a[:4]
day=a[4:8]
weather=a[8:]
print(year)
print(day)
print(weather)

2023
1124
Sunny

## 문자열 요소 바꾸기

In [30]:
a = 'pithon'
a[1]

'i'

In [31]:
a[1]='y'

TypeError: 'str' object does not support item assignment

In [32]:
a[0]+ 'y'+a[2:]

'python'

## 문자열 포매팅
- 현재 온도는 20도 입니다.
- 현재 온도는 -3도 입니다.

In [33]:
# 숫자 바로 대입하기
"I eat %d apples"%3

'I eat 3 apples'

In [34]:
# 문자열 대입하기
"I eat %s apples"%"five"

'I eat five apples'

In [35]:
# 변수로 대입하기
number = 3
"I eat %s apples"%number

'I eat 3 apples'

In [36]:
# 2개 이상 값 넣기
number = 3
day = "three"
"I eat %d apples, so I was sick for %s days"%(number, day)

'I eat 3 apples, so I was sick for three days'

## 정렬과 공백
- 양수: 우정렬
- 음수: 좌정렬

In [37]:
# 10개의 문자열 공간을 만들되, 치환되는 문자열을 우측 정렬하고 빈 곳은 공백으로 채울 것
"%10s"%"hi"

'        hi'

In [38]:
"%-10s"%"hi"

'hi        '

## 소수점 표현하기

In [39]:
"%0.4f"%3.42134234

'3.4213'

## 포맷 함수를 사용한 포맷팅

In [41]:
"I eat {} apples".format(3)

'I eat 3 apples'

In [42]:
"I eat {} apples".format("five")

'I eat five apples'

In [43]:
number = 3
"I eat {} apples".format(number)

'I eat 3 apples'

In [45]:
# 2개 이상 넣기
number = 3
day = "three"
"I eat {} apples. so I was sick for {} days".format(number, day)

'I eat 3 apples. so I was sick for three days'

In [46]:
# 변수 이름으로 넣기
"I eat {number} apples. so I was sick for {day} days".format(number=10, day=3)

'I eat 10 apples. so I was sick for 3 days'

In [47]:
"I eat {number} apples. so I was sick for {day} days".format(day=3, number=10)

'I eat 10 apples. so I was sick for 3 days'

In [48]:
"I eat {number} apples. so I was sick for {} days".format(3, number=10)

'I eat 10 apples. so I was sick for 3 days'

## f문자열 포맷팅

In [50]:
# python 3.6
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다, 나이는 {age}입니다."

'나의 이름은 홍길동입니다, 나이는 30입니다.'

In [51]:
f"나는 내년이면 {age+1}살이 됩니다"

'나는 내년이면 31살이 됩니다'

In [64]:
d = {'name':'홍길동', 'age':30}
f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [60]:
y=3.4123123
f'{y:0.4f}'

'3.4123'

## 문자열 관련 함수

In [61]:
# 문자열 개수 세기(count)
a = "hobby"

In [62]:
a.count('b')

2

a.count? #docstring help!!!

help(a.count)

In [68]:
a = 'python is the best choice'
a.find('b')

14

In [69]:
a.find('k') # false = 0 , 값이 없을 경우 -1 반환

-1

In [70]:
a.index('t')

2

In [71]:
a.index('k') # 값이 없을 경우 error

ValueError: substring not found

## 문자열 삽입(join)

In [72]:
# a, b, c, d 문자열 사이에 ,를 삽입
",".join("abcd")

'a,b,c,d'

In [74]:
".".join(['a','b','c','d'])

'a.b.c.d'

In [75]:
a='.'
a.join("abcd")

'a.b.c.d'

## 대소문자 변환(upper, lower)

In [76]:
# 소문자를 대문자로 바꾸기
a = "hi"
a.upper()

'HI'

In [77]:
"hi".upper()

'HI'

In [78]:
# 대문자를 소문자로 바꾸기
a = "HI"
a.lower()

'hi'

## 공백지우기(strip)

In [79]:
# 왼쪽 공백 지우기
a="   hi   "
a.lstrip()

'hi   '

In [80]:
a.rstrip()

'   hi'

In [81]:
a.strip()

'hi'

## 문자열 바꾸기(replace)

In [82]:
a = "Life is too short"
a.replace("Life", "Your leg") # a.replace?

'Your leg is too short'

## 문자열 나누기(split)

In [84]:
a.split()

['Life', 'is', 'too', 'short']

In [85]:
b = 'a:b:c:d'
b.split(':')

['a', 'b', 'c', 'd']

In [87]:
a1 = a.split()
a1

['Life', 'is', 'too', 'short']

In [90]:
' '.join(a1)

'Life is too short'

## 리스트

In [92]:
odd = [1, 3, 5, 7, 9]
odd, type(odd)

([1, 3, 5, 7, 9], list)

In [98]:
a = []
a = [1,2,3]
c = ['Life', 'is', 'too', 'short']
d = [1.2, 'Life', 'is']
e = [1.2,  ['Life', 'is']] 
print(a, b, c, d, e)
print(type(a), type(b), type(c), type(d), type(e))

[1, 2, 3] a:b:c:d ['Life', 'is', 'too', 'short'] [1.2, 'Life', 'is'] [1.2, ['Life', 'is']]
<class 'list'> <class 'str'> <class 'list'> <class 'list'> <class 'list'>

In [99]:
e[1]

['Life', 'is']

## 인덱싱과 슬라이싱

In [ ]:
a = [1,2,3]

In [102]:
type(a[0])

int

In [104]:
a[0]*[2]

[2]

In [105]:
a[-1]

3

In [107]:
b = [1,2,3,['a', 'b','c','d']]
b[0]

1

In [108]:
b[3][0]

'a'

In [109]:
b[-1][1]

'b'

In [112]:
c = [1, 2, ['a', 'b', ['Life', 'is']]]

In [113]:
c[2][2][0]

'Life'

In [114]:
c[-1][-1][0]

'Life'

In [115]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [117]:
a = '12345'
a[0:2]

'12'

In [118]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b, c)

[1, 2] [3, 4, 5]

In [121]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [122]:
a[3][2]

'c'

In [123]:
# 리스트 연산하기
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [124]:
# 리스트 반복하기 
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [125]:
# 리스트 길이 구하기
len(a)

3

## 리스트 수정과 삭제

In [126]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [127]:
# del  함수
a = [1, 2, 3]
del a[1]

In [128]:
a

[1, 3]

In [129]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수
- 요소 추가(append)

In [132]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [133]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

##  정렬(sort)

In [134]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [136]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

## 리스트 뒤집기(reverse)

In [137]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

## 위치 반환(index)

In [139]:
a = [1,2,3]
a.index(3)

2

In [140]:
a.index(5)

ValueError: 5 is not in list

In [141]:
a = [1,2,3,3]
a.index(3)

2

## 요소 삽입(insert)

In [143]:
a = [1,2,3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [144]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

## 요소 제거(remove)

In [145]:
a = [1,2,3,1,2,3]
a

[1, 2, 3, 1, 2, 3]

a.remove?

In [147]:
a.remove(3)
a

[1, 2, 1, 2]

## 요소 추출(pop)

In [148]:
a = [1, 2, 3]
a.pop()

3

In [149]:
a

[1, 2]

In [150]:
a = [1, 2, 3]
a.pop(1) # pop 리스트 객체 method 해당 인덱스 요소를 출력, 삭제, del 내장함수

2

## 리스트 확장(extend)

In [155]:
a = [1, 2, 3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [156]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [157]:
a += [4,5]
a

[1, 2, 3, 4, 5, 6, 7, 4, 5]

## 튜플

In [158]:
t1 = () 
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab','cd'))
print(t1, t2, t3, t4, t5)
print(type(t1),type(t2),type(t3),type(t4),type(t5) )

() (1,) (1, 2, 3) (1, 2, 3) ('a', 'b', ('ab', 'cd'))
<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [159]:
t6 = (1) # 튜플은 2개 이상
t6

1

In [160]:
print(t6, type(t6))

1 <class 'int'>

t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

t1 = (1, 2, 'a', 'b')
del t1[1]