In [ ]:
#161
for i in range(100):
    print(i)

In [ ]:
#162
for i in range(2002,2051,4):
    print(i)

In [ ]:
#163
for i in range(3, 31,3):
    print(i)

In [ ]:
#164
for i in range(99,-1,-1):
    print(i)

In [ ]:
#165
for i in range(0, 10):
    print(i/10)

In [ ]:
#166
for i in range(10):
    print(f"3x{i}={i*3}")

In [ ]:
#167
for i in range(1,11,2):
    print(f"3x{i}={i*3}")

In [ ]:
#168
s = 0
for i in range(1, 11):
    s += i
print(s)

In [ ]:
#169
s = 0
for i in range(1, 11, 2):
    s += i
print(s)

In [ ]:
#170
s = 1
for i in range(1, 11):
    s *= i
print(s)

In [ ]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

In [ ]:
#172
price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(i, price_list[i])

In [ ]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(3,-1,-1):
    print(i, price_list[3-i])

In [ ]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(i*10+90, price_list[i])

In [ ]:
#175
my_list = ["가", "나", "다", "라"]

for i in range(3):
    print(my_list[i], my_list[i+1])

In [ ]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

In [ ]:
#177
my_list = ["가", "나", "다", "라"]

for i  in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i-1])

In [ ]:
#178
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

In [ ]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

In [ ]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volarility=[]

for i in range(len(low_prices)):
    volarility.append(high_prices[i] - low_prices[i])
print(volarility)

In [ ]:
#181
apart=[['101호', '102호'],['201호', '202호'],['301호', '302호']]

In [ ]:
#182
stock=[["시가",100,200,300],["종가",80,210,330]]

In [ ]:
#183
stock={'시가':[100,200,300], '종가':[80,210,330]}

In [ ]:
#184
stock={'10/10':[80,110,70,90],'10/11':[210,230,190,200]}

In [ ]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f'{j}호')

In [ ]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i:
        print(f'{j}호')

In [ ]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i[::-1]:
        print(f'{j}호')

In [ ]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(f'{j}호')
        print("-"*5)

In [ ]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f'{j}호')
    print("-"*5)

In [ ]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f'{j}호')
print("-"*5)

In [ ]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)

In [ ]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)
    print("-"*5)

In [ ]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]
for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

In [ ]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]
for i in data:
    sub = []
    for j in i:
        sub.append(j*1.00014)
    result.append(sub)
print(result)

In [ ]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

In [ ]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

In [ ]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

In [ ]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

In [ ]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

In [ ]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

sum = 0
for i in ohlc[1:]:
    sum += i[3]-i[0]
print(sum)

In [ ]:
#201
def print_coin():
    print("비트코인")

In [ ]:
#202
def print_coin():
    print("비트코인")

print_coin()

In [ ]:
#203
def print_coin():
    print("비트코인")

for i in range(100):
    print_coin()

In [ ]:
#204
def print_coins():
    for i in range(100):
        print("비트코인")

In [ ]:
#205
hello()
def hello():
    print("Hi")
# 함수가 정의되기 전 호출

In [ ]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message()
# A-B-C-A-B

In [ ]:
#207
print("A")

def message() :
    print("B")

print("C")
message()
# A-C-B

In [ ]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
#A-C-B-E-D

In [ ]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
# B-A

In [ ]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()
# B-C-B-C-B-C-A

In [ ]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
# 안녕-HI

In [ ]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
# 7-15

In [ ]:
#213
def 함수(문자열) :
    print(문자열)

함수()
# 함수 호출 시 파라미터 빠짐

In [ ]:
#214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# 함수 파라미터 타입이 맞지 않음

In [ ]:
#215
def print_with_smile(a):
    print(a+".D")
    
print_with_smile(input())

In [ ]:
#216
def print_with_smile(a):
    print(a+".D")
    
print_with_smile("안녕하세요")

In [ ]:
#217
def print_upper_price(price):
    print(int(price)*1.3)

print_upper_price(input())

In [ ]:
#218
def print_sum(a, b):
    print(a+b)

In [ ]:
#219
def print_arithmetic_operation(a, b):
    print(f'{a}+{b}={a+b}')
    print(f'{a}-{b}={a-b}')
    print(f'{a}*{b}={a*b}')
    print(f'{a}/{b}={a/b}')
print_arithmetic_operation(3, 4)

In [ ]:
#220
def print_max(a, b, c):
    max_d = 0
    
    if a >= b:
        max_d = a
    
    if b > max_d:
        max_d = b
    
    if c > max_d:
        max_d = c
    print(max_d)
    
print_max(6, 8, 9)

In [ ]:
#221
def print_reverse(s):
    print(s[::-1])
    
print_reverse("python")

In [ ]:
#222
def print_score(s):
    print(sum(s)/len(s))
    
print_score([1, 2, 3])

In [ ]:
#223
def print_even(s):
    for i in s:
        if i%2 == 0:
            print(i)

print_even([1, 3, 2, 10, 12, 11, 15])

In [ ]:
#224
def print_keys(s):
    
    for i in s.keys():
        print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

In [ ]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dic_t, d):
    print(dic_t[d])

print_value_by_key  (my_dict, "10/26")

In [ ]:
#226-풀이다름
def print_5xn(s):
    for i in range(0,len(s),5):
        print(s[i:i+5])

print_5xn("아이엠어보이유알어걸")

In [ ]:
#227-풀이다름
def printmxn(s, a):
    for i in range(0, len(s), a):
        print(s[i:i+a])

printmxn("아이엠어보이유알어걸", 3)

In [ ]:
#228
def calc_monthly_salary(annual_salary):
    print(round(annual_salary/12))

calc_monthly_salary(11000000.12)

In [ ]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
# 왼쪽:100
# 오른쪽: 200

In [ ]:
#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
# 왼쪽: 200
# 오른쪽: 100

In [ ]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
# 함수내 로컬 변수를 함수밖에서 호출

In [ ]:
#232
def make_url(s):
    return "http://www."+s+".com"
url = make_url("naver")
print(url)

In [ ]:
#233
def make_list(s):
    return list(s)

print(make_list("abcd"))

In [ ]:
#234
def pickup_even(li):
    e_li=[]
    for i in li:
        if int(i)%2 == 0:
            e_li.append(i)
    return e_li

even_list = pickup_even([3, 4, 5, 6, 7, 8])
print(even_list)

In [ ]:
#235
def convert_int(s):
    return int(s.replace(',',''))

print(convert_int("1,234,567"))

In [ ]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
#22

In [ ]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
#22

In [ ]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
# 140

In [ ]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
# 16

In [ ]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
#28

In [ ]:
#241
import datetime
datetime.datetime.now().strftime("%Y-%m-%d %H-%M-%S")

In [ ]:
#242
import datetime
print(type(datetime.datetime.now()))

In [ ]:
#243
import datetime

today = datetime.datetime.now()

for i in range(5,0,-1):
    print((today - datetime.timedelta(i)).strftime("%Y-%m-%d"))

In [ ]:
#244
import datetime

print(datetime.datetime.now().strftime("%H:%M:%S"))

In [ ]:
#245
import datetime

s_time = "2020-05-04"
print(datetime.datetime.strptime("2020-05-04", "%Y-%m-%d"))

In [ ]:
#246
import datetime
import time

while 1:
    print(datetime.datetime.now())
    time.sleep(1)

#247
1. import 모듈
2. import 모듈 as 이름
3. from 모듈 import 함수명
4. from 모듈 import *

In [ ]:
#248
import os

print(os.getcwd())

In [ ]:
#249
import os

t_dir= os.getcwd() + "/temp/" 
f = open(t_dir+"t.txt", 'w')
f.close()
print(os.listdir(t_dir))

os.rename(t_dir+"t.txt", t_dir+"a.txt")
print(os.listdir(t_dir))

In [ ]:
#250
import numpy as np
for i in np.arange(0, 5, 0.1):
    print(f'{i:0.2f}')

In [ ]:
#251

In [ ]:
#252
class Human:

In [ ]:
#253
class Human:
    pass

areum = Human()

In [ ]:
#254
class Human:
    def __init__(self):
        print("응애응애")
    
areum = Human()

In [ ]:
#255
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.name, areum.age, areum.sex)

In [ ]:
#256
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
woman = Human('조아름',25,'여자')
print(woman.name, woman.age, woman.sex)

In [ ]:
#257
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print(self.name, self.age, self.sex)
        
woman = Human('조아름',25,'여자')
woman.who()

In [ ]:
#258
class Human:
    def __init__(self, name="", age=0, sex=""):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print(self.name, self.age, self.sex)
        
    def setInfo(self, name, age, sex):
        self.name=name
        self.age = age
        self.sex = sex

woman = Human()
woman.setInfo('조아름',25,'여자')
woman.who()

In [ ]:
#259
class Human:
    def __init__(self, name="", age=0, sex=""):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print(self.name, self.age, self.sex)
        
    def setInfo(self, name, age, sex):
        self.name=name
        self.age = age
        self.sex = sex
    
    def __del__(self):
        print("나의 죽음을 알리지 말라")

woman = Human()
woman.setInfo('조아름',25,'여자')
woman.who()
del(woman)
woman.who()

In [ ]:
#260
class OMG : 
    def print(self) :
        print("Oh my god")

myStock = OMG()
myStock.print()

In [ ]:
#261
class Stock:
    pass
    
mystock = Stock()

In [ ]:
#262
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
삼성 = Stock("삼성전자", "005930")
print(삼성.name, 삼성.code)

In [ ]:
#263
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
        
a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)

In [ ]:
#264
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
    def set_code(self, code):
        self.code = code
    
a = Stock(None, None)
a.set_code("005930")
print(a.name, a.code)

In [ ]:
#265
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
        
        
삼성 = Stock("삼성전자", "005930")
print(삼성.get_name(), 삼성.get_code())

In [ ]:
#266
class Stock:
    def __init__(self, name, code,per,pbr, profit):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.profit = profit
    def set_name(self,name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

In [ ]:
#267
class Stock:
    def __init__(self, name, code,per,pbr, profit):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.profit = profit
    def set_name(self,name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

mystock = Stock("삼성전자", '005930', 15.79, 1.33, 2.83)
mystock.get_name()

In [ ]:
#268
class Stock:
    def __init__(self, name, code,per,pbr, profit):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.profit = profit
    def set_name(self,name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def set_per(self, per):
        self.per = per
    def set_pbr(self, pbr):
        self.pbr = pbr
    def set_profit(self, profit):
        self.profit = profit
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    def get_per(self):
        return self.per

In [ ]:
#269
mystock = Stock("삼성전자", '005930', 15.79, 1.33, 2.83)
mystock.set_per(12.75)
mystock.get_per()

In [ ]:
#270
class Stock:
    def __init__(self, name, code,per,pbr, profit):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.profit = profit
    def set_name(self,name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def set_per(self, per):
        self.per = per
    def set_pbr(self, pbr):
        self.pbr = pbr
    def set_profit(self, profit):
        self.profit = profit
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    def get_per(self):
        return self.per
    
samsung = Stock('삼성전자','005930',15.79,1.33,2.83)
hyundai = Stock('현대차','005380',8.70,0.35,4.27)
lg = Stock('LG전자','066570',317.34,0.69,1.37)
stock_list = [samsung, hyundai, lg]
for stock in stock_list:
    print(f'{stock.get_name()}: {stock.get_code()}, {stock.get_per()}')

In [ ]:
#271
import random
class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
a = Account('white', 100)
a.bank
a.account

In [ ]:
#272
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1

kim = Account("김민수", 100)
print(Account.account_count_num)
lee = Account("이민수", 100)
print(Account.account_count_num)

In [ ]:
#273
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1
        
    def get_account_num(self):
        return self.account_count_num
kim = Account("김민수", 100)
lee = Account("이민수", 100)
dee = Account("이민수", 100)
dee.get_account_num()

In [ ]:
#274
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1
        
    def get_account_num(self):
        return self.account_count_num
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
        return self.balance
    
dee = Account("이민수", 100)
print(dee.deposit(10))

In [ ]:
#275
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1
        
    def get_account_num(self):
        return self.account_count_num
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
        return self.balance
    
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
            return self.balance
        else:
            return "잔액부족"
dee = Account("이민수", 100)
dee.withdraw(120)

In [ ]:
#276
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1
        
    def get_account_num(self):
        return self.account_count_num
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_num += 1        
        return self.balance
    
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
            return self.balance
        else:
            return "잔액부족"
    def display_info(self):
        print(f'이름: {self.name}, 잔액: {self.balance}, 은행: {self.bank}')
dee = Account("이민수", 100)
dee.display_info()

In [2]:
#277
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance, deposit_num=0):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        self.deposit_num = deposit_num
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1
        
    def get_account_num(self):
        return self.account_count_num
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_num += 1
            if self.deposit_num%5==0:
                self.balance *= 1.01
        
        return self.balance
    
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
            return self.balance
        else:
            return "잔액부족"
    def display_info(self):
        print(f'이름: {self.name}, 잔액: {self.balance}, 은행: {self.bank}')

dee = Account("이민수", 100)
dee.deposit(10)
dee.deposit(10)
dee.deposit(10)
dee.deposit(10)
dee.deposit(10)
dee.display_info()

이름: 이민수, 잔액: 151.5, 은행: SC은행

In [3]:
#278
name_list = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

name_list.append(k)
name_list.append(l)
name_list.append(p)

print(name_list)

[<__main__.Account object at 0x000001EE7CB31DD0>, <__main__.Account object at 0x000001EE7CB33B10>, <__main__.Account object at 0x000001EE7B7D0710>]

In [92]:
#279
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance, deposit_num=0):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        self.deposit_num = deposit_num
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1
        
    def get_account_num(self):
        return self.account_count_num
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_num += 1
            self.deposit_log.append(money)
            if self.deposit_num%5==0:
                self.balance *= 1.01
        
        return self.balance
    
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
            self.withdraw_log.append(money)
            return self.balance
        else:
            return "잔액부족"
    def display_info(self):
        print(f'이름: {self.name}, 잔액: {self.balance}, 은행: {self.bank}')

name_list = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

name_list.append(k)
name_list.append(l)
name_list.append(p)

for p_name in name_list:
    if p_name.balance >= 1000000:
        p_name.display_info()

이름: KIM, 잔액: 10000000, 은행: SC은행

In [11]:
#280
import random
class Account:
    account_count_num = 0
    def __init__(self, name, balance, deposit_num=0):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        self.deposit_num = deposit_num
        self.deposit_log = []
        self.withdraw_log = []
        
        ### 계좌번호 생성        
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account = num1+'-'+num2+'-'+num3
        Account.account_count_num += 1
        
    def get_account_num(self):
        return self.account_count_num
    
    def deposit(self, money):
        if money >= 1:
            self.balance += money
            self.deposit_num += 1
            self.deposit_log.append(money)
            if self.deposit_num%5==0:
                self.balance *= 1.01
        
        return self.balance
    
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
            self.withdraw_log.append(money)
            return self.balance
        else:
            return "잔액부족"
    def display_info(self):
        print(f'이름: {self.name}, 잔액: {self.balance}, 은행: {self.bank}')
        
    def deposit_history(self):
        print(self.deposit_log) 
    def withdraw_history(self):
        print(self.withdraw_log) 
        
k = Account("KIM", 10000000)
k.deposit(10)
k.withdraw(20)
k.withdraw_history()

[20]

In [12]:
#281
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
car = 차(2,1000)
print(car.바퀴, car.가격)

2 1000

In [17]:
#282
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
        
class 자전차(차):
    pass

In [28]:
#283
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)


bicycle = 자전차(2, 100)
bicycle.가격

100

In [29]:
#284
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.구동계

'시마노'

In [39]:
#285
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)
        
    def 정보(self):
        print(f"바퀴수 {self.바퀴} \n가격 {self.가격}")
              
car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [48]:
#286
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    
    def 정보(self):
        print(f"바퀴수 {self.바퀴} \n가격 {self.가격}")

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
    
    def 정보(self):
        super().정보()
        

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

In [47]:
#287
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    
    def 정보(self):
        print(f"바퀴수 {self.바퀴} \n가격 {self.가격}")

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
    
    def 정보(self):
        super().정보()
        print(f'구동계 {self.구동계}')
        

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [ ]:
#288
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

나 = 자식()
나.호출()
# 자식호출

In [ ]:
#289
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

나 = 자식()
# 자식생성

In [ ]:
#290
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()
# 자식생성, 부모생성

In [53]:
#291
import os
f = open('C:/Users/white/Desktop/temp/매수종목1.txt','w')
f.write("005930\n005380\n035420")
f.close()

os.listdir('C:/Users/white/Desktop/temp')

['매수종목1.txt']

In [59]:
#292
f = open('C:/Users/white/Desktop/temp/매수종목2.txt','w')
f.write("005930 삼성전자\n005380 현대차\n035420 NAVER")
f.close()

with open('C:/Users/white/Desktop/temp/매수종목2.txt', "r") as f:
    file_line = f.read()

print(file_line)

005930 삼성전자
005380 현대차
035420 NAVER

In [60]:
#293
#탕화면에 '매수종목.csv' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에 써보세요. 인코딩은 'cp949'를 사용해야합니다.
with open('C:/Users/white/Desktop/temp/매수종목.csv', "w", encoding='cp949') as f:
    f.write("종목명,종목코드,PER\n삼성전자,005930,15.79\nNAVER,035420,55.82")

In [61]:
#294
#바탕화면에 생성한 '매수종목1.txt' 파일을 읽은 후 종목코드를 리스트에 저장해보세요.
with open('C:/Users/white/Desktop/temp/매수종목1.txt', "r") as f:
    f_list = f.readlines()
print(f_list)

['005930\n', '005380\n', '035420']

In [66]:
#295
stock_dic={}
with open('C:/Users/white/Desktop/temp/매수종목2.txt', "r") as f:
    lines = f.readlines()
    for line in lines:
        k, v = line.split()
        stock_dic[k]=v
print(stock_dic)

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [68]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [71]:
#297
per = ["10.31", "", "8.00"]
real_per = []

for i in per:
    try:
        real_per.append(float(i))
    except:
        real_per.append(0)
print(real_per)

[10.31, 0, 8.0]

In [78]:
#298
per = ["10.31", "0", "8.00"]
base = [1,0,3]

for i in range(len(per)):
    try:
       float(per[i]) / base[i]
    except ZeroDivisionError as e:
        print("division by zero")

division by zero

In [81]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [91]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except ValueError:
        print("Value error!")
    else:
        print("Other Error!")
    finally:
        print("Good Job")

10.31
Other Error!
Good Job
Value error!
Good Job
8.0
Other Error!
Good Job