In [1]:
#1
print("Hello World")

Hello World

In [3]:
#2
print("Mary\'s cosmetics")

Mary's cosmetics

In [4]:
#3
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [5]:
#4
print('c:\\windows')

c:\windows

In [6]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [8]:
#6
print("오늘은"+","+"일요일")

오늘은,일요일

In [10]:
#7
print("naver","kakao","samsung", sep=";")

naver;kakao;samsung

In [11]:
#8
print("naver","kakao","samsung", sep="/")

naver/kakao/samsung

In [14]:
#9
print("first", end="") 
print("second")

firstsecond

In [17]:
#10
print(5/3)

1.6666666666666667

In [2]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [109]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, 현재가, PER)

298000000000000 50000 15.79

In [111]:
#13
s = "hello"
t = "python"
s + '! ' + t

'hello! python'

In [18]:
#16
num_str="720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [20]:
#17
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [21]:
#18
s="15.79"
result=float(s)
print(result, type(result))

15.79 <class 'float'>

In [22]:
#20
perMonth = 48584
month_num = 36
total = perMonth*month_num
print(total)

1749024

In [113]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [114]:
#22
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [116]:
#23
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [119]:
#24
string = "PYTHON"
string[::-1]

'NOHTYP'

In [120]:
#25
phone_number = "010-1111-2222"
phone_number.replace('-','')

'01011112222'

In [121]:
#26
phone_number = "010-1111-2222"
print(phone_number.replace('-',''))

01011112222

In [125]:
#27
url = "http://sharebook.kr"
url_1 = url.split('.')
print(url_1[-1])

kr

In [126]:
#28
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [127]:
#29
string = 'abcdfe2a354a32a'
string.upper()

'ABCDFE2A354A32A'

In [128]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [83]:
#31
a = "3"
b = "4"
print(a + b)

34

In [84]:
#32
print("Hi" * 3)

HiHiHi

In [85]:
#33
print('-'*80)

--------------------------------------------------------------------------------

In [93]:
#34
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

In [97]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름: {name1}, 나이:{age1}')
print(f'이름: {name2}, 나이:{age2}')
print("이름: %s 나이: %d" % (name1, age1))

이름: 김민수, 나이:10
이름: 이철희, 나이:13

In [101]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {0} 나이: {1}" .format(name1, age1))
print("이름: {0} 나이: {1}" .format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름: {name1}, 나이:{age1}')
print(f'이름: {name2}, 나이:{age2}')

In [105]:
#38
상장주식수 = "5,969,782,550"
type(int(상장주식수.replace(',','')))

int

In [107]:
#39
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [108]:
#40
data = "   삼성전자    "
data.strip()

'삼성전자'

In [69]:
#41
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [70]:
#42
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [72]:
#43
"hello".capitalize()

'Hello'

In [73]:
#44
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [76]:
#45
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [77]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [79]:
#47
a = "hello world"
a.split()

['hello', 'world']

In [80]:
#48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [81]:
#49
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [82]:
#50
data = "039490    "
data.rstrip()

'039490'

In [44]:
#51
movie_rank=["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [45]:
#52
movie_rank=["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [47]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [52]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
idx = movie_rank.index("럭키")
del movie_rank[idx]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [53]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.pop(2)
movie_rank.pop(2)
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [55]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang_sum = lang1+lang2
lang_sum

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [62]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print(f'max:{max(nums)}, min:{min(nums)}')

max:7, min:1

In [63]:
#58
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [64]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [68]:
#60
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [20]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [22]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [23]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [24]:
#64
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [28]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [129]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))
for s in interest:
    print(s, end=' ')

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [37]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [39]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [40]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
interest

['삼성전자', 'LG전자', 'Naver']

In [43]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [4]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [5]:
#72
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [7]:
#73
tuple_1 = (1,)
print(tuple_1)

(1,)

In [8]:
#74
t = (1, 2, 3)
t[0] = 'a'
# tuple은 원소 변경이 불가능

TypeError: 'tuple' object does not support item assignment

In [9]:
#75
t = 1,2,3,4
print(type(t))

<class 'tuple'>

In [10]:
#76
t = ('a', 'b', 'c')
t = list(t)
t[0]='A'
print(t)

['A', 'b', 'c']

In [11]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [12]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [13]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [19]:
#80
even = list(range(2,99,2))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]